.div_lbt,.div_img1{
    width: 600px;
    height: 450px;
    border:1px solid red;
    margin: 20px auto;
}
.div_img1 img{
    width: 600px;
    height: 450px;
    border: 1px solid blue;
}
.div_img1 div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid orange;
    background-color: rgb(128, 128, 128,0.6);
    display: inline-block;
    position: relative;
    top:-50px;
    left: -10px;
    margin-left: 40px;
}