.tail{
    width: 1600px;
    border: 1px solid red;
    margin-top: 250px;
    background-color: rgb(0, 0, 0,0.8);
}
ul{
    width: 600px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    left: 350px;
}
.ul1 li{
    color: white;
    width: 80px;
    height: 50px;
    display: inline-block;
    list-style: none;
}
.ul1{
    border-bottom: 2px solid white;
    padding: 0 20px;
}
.ul2 li{
    width: 600px;
    height: 50px;
    list-style: none;
    color: white;
}